# EPİAŞ Şeffaflık Platformu 2.0 Kimlik Bilgileri
# Ücretsiz hesap oluşturmak için: https://seffaf.epias.com.tr/
# veya https://giris.epias.com.tr/

EPTR_USERNAME=epias_kullanici_adiniz_veya_epostaniz
EPTR_PASSWORD=epias_sifreniz

# Terminal Güvenlik Anahtarı (Opsiyonel)
TERMINAL_ACCESS_KEY=epias2026
